<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
        <title>Import Training</title>
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link href="/static/css/style.css" rel="stylesheet"></link>
        {% if page.include_tito %}
        <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />
        <script src='https://js.tito.io/v1' async></script>
        {% endif %}
        <link href="/static/img/favicon.ico" rel="shortcut icon"></link>
    </head>
    <body>

{% block content %}{% endblock %}

        <footer class="global-footer">
            <p>&copy; 2015 Import Training. All rights reserved.</p>
        </footer>
    </body>
</html>
